/.quarto/
*cursor*
*mock_io
**__pycache__
**.ipynb_checkpoints
**dev/
**data/
**config/
**.DS_Store
**.ipynb_checkpoints
**.pytest_cache
**.vscode
**.venv
**.env
GroundingDINO/
notebooks/
src/distillation/runs/
src/distillation/checkpoints/
src/distillation/logs/